@model List<Product> 
@{
    ViewData["Title"] = "Product Catalog";
}

<h1 class="shadow font-weight-bold text-center">Product Catalog</h1>


<a asp-action="AddView">Create Product</a>
<div class="container">
    @foreach (Product p in Model)
    {
    <div class="row">
        <p class="col">@p.Title</p>
        <p class="col">@p.Price</p>
        <p class="col">@p.Category</p>
        <a class="col" asp-action="Delete" asp-route-id="@p.ProductId">Delete</a>
        <a class="col" asp-action="Edit" asp-route-id="@p.ProductId">Edit</a>
        <a class="btn btn-primary" 
           asp-route-id="@p.ProductId">Add to Cart</a>
    </div>
    }
</div>
